h1 {
    color: wheat;
    text-align: right;
    width: 80%;
    font-weight: 100;
    text-decoration: blue underline wavy;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: #faFF21;
    background-color: rgb(89, 151, 0);
    text-align: center;
    font-weight: 900;
}

button {
    color: magenta;
    background-color: aqua;
}

p {
    color: brown;
    line-height: 2;
    letter-spacing: 15px;
}

body {
    background-color: #000;
}

#but1 {
    background-color: black;
    color: wheat;
}

.but2 {
    background-color: white;
    color: black;
}

span button {
    text-decoration: line-through;
}

span+p {
    background-color: #faFF21;
}

body>p {
    font-size: smaller;
}

p>p {
    font-size: x-large;
}

input[type="password"] {
    width: 300px;
    height: 100px;
}

button:hover {
    background-color: rgb(41, 126, 34);
}

button:active {
    background-color: yellow;
}

p:nth-of-type(2) {
    background-color: aqua;
}

p::first-letter {
    font-size: x-large;
}

button {
    background-color: magenta !important;
}