h1 {
    color: wheat;
    text-align: right;
    width: 80%;
    font-weight: 100;
    text-decoration: blue underline wavy;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: #faFF21;
    background-color: rgb(89, 151, 0);
    text-align: center;
    font-weight: 900;
}

button {
    color: magenta;
    background-color: aqua;
}

p {
    color: brown;
    line-height: 2;
    letter-spacing: 15px;
}

body {
    background-color: #000;
}

#but1 {
    background-color: black;
    color: wheat;
}

.but2 {
    background-color: white;
    color: black;
}