<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Homepage</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel inventore unde facilis molestiae alias ullam
        laborum natus repellendus cumque laboriosam fugiat voluptate expedita, at illo! Facilis asperiores amet esse
        ipsum?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat delectus unde distinctio quas nesciunt ad! Aut
        animi eveniet impedit corporis, velit accusantium dolorum. Nulla architecto, eum fugit voluptate incidunt nam.
    </p>
</body>

</html>