<%- include('partials/head')%>

    <body>
        <%- include('partials/navbar')%>
            <h1>Homepage <%= 4 + 5 + 1%>
            </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel inventore unde facilis molestiae alias
                ullam
                laborum natus repellendus cumque laboriosam fugiat voluptate expedita, at illo! Facilis asperiores amet
                esse
                ipsum?</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat delectus unde distinctio quas nesciunt
                ad! Aut
                animi eveniet impedit corporis, velit accusantium dolorum. Nulla architecto, eum fugit voluptate
                incidunt nam.
            </p>
    </body>

    </html>