<%- include('partials/head')%>

    <body>
        <%- include('partials/navbar')%>
            <h1>
                Im sorry we coulnd't find the <%= subreddit %> subreddit! :c
            </h1>
    </body>

    </html>